{% extends 'client/base_templates/base.html' %}
{% load static %}
{% block content %}
<div class="container">

    <!-- Timeline
      ================================================= -->
    <div class="timeline">
        {% include 'client/base_templates/profile_base.html' %}
        <div id="page-contents">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-7">
  
                <!-- Photo Album
                ================================================= -->
                <ul class="album-photos">
                  <li>
                    <div class="img-wrapper" data-toggle="modal" data-target=".photo-1">
                      <img src="images/album/1.jpg" alt="photo" />
                    </div>
                    <div class="modal fade photo-1" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <img src="images/album/1.jpg" alt="photo" />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="img-wrapper" data-toggle="modal" data-target=".photo-2">
                      <img src="images/album/2.jpg" alt="photo" />
                    </div>
                    <div class="modal fade photo-2" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <img src="images/album/2.jpg" alt="photo" />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="img-wrapper" data-toggle="modal" data-target=".photo-3">
                      <img src="images/album/3.jpg" alt="photo" />
                    </div>
                    <div class="modal fade photo-3" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <img src="images/album/3.jpg" alt="photo" />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="img-wrapper" data-toggle="modal" data-target=".photo-4">
                      <img src="images/album/4.jpg" alt="photo" />
                    </div>
                    <div class="modal fade photo-4" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <img src="images/album/4.jpg" alt="photo" />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="img-wrapper" data-toggle="modal" data-target=".photo-5">
                      <img src="images/album/5.jpg" alt="photo" />
                    </div>
                    <div class="modal fade photo-5" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <img src="images/album/5.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="img-wrapper" data-toggle="modal" data-target=".photo-6">
                      <img src="images/album/6.jpg" alt="photo" />
                    </div>
                    <div class="modal fade photo-6" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <img src="images/album/6.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="img-wrapper" data-toggle="modal" data-target=".photo-7">
                      <img src="images/album/7.jpg" alt="photo" />
                    </div>
                    <div class="modal fade photo-7" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <img src="images/album/7.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="img-wrapper" data-toggle="modal" data-target=".photo-8">
                      <img src="images/album/8.jpg" alt="photo" />
                    </div>
                    <div class="modal fade photo-8" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <img src="images/album/8.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="img-wrapper" data-toggle="modal" data-target=".photo-9">
                      <img src="images/album/9.jpg" alt="photo" />
                    </div>
                    <div class="modal fade photo-9" tabindex="-1" role="dialog" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <img src="images/album/9.jpg" alt="" />
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-md-2 static">
                <div id="sticky-sidebar">
                  <h4 class="grey">Sarah's activity</h4>
                  <div class="feed-item">
                    <div class="live-activity">
                      <p><a href="#" class="profile-link">Sarah</a> Commended on a Photo</p>
                      <p class="text-muted">5 mins ago</p>
                    </div>
                  </div>
                  <div class="feed-item">
                    <div class="live-activity">
                      <p><a href="#" class="profile-link">Sarah</a> Has posted a photo</p>
                      <p class="text-muted">an hour ago</p>
                    </div>
                  </div>
                  <div class="feed-item">
                    <div class="live-activity">
                      <p><a href="#" class="profile-link">Sarah</a> Liked her friend's post</p>
                      <p class="text-muted">4 hours ago</p>
                    </div>
                  </div>
                  <div class="feed-item">
                    <div class="live-activity">
                      <p><a href="#" class="profile-link">Sarah</a> has shared an album</p>
                      <p class="text-muted">a day ago</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>

{% endblock content %}