{% extends "user/base.html" %}
{% load static %}

{% block login-content %}

<div class="container">
    <div class="signin-content">
        <div class="signin-image">
            <figure><img src="{% static 'user/images/signin-image.jpg' %}" alt="login image"></figure>
            <a href='{% url "user:user-signup" %}' class="signup-image-link">Not a member,Register</a>
        </div>
        <div class="signin-form">
            <h2 class="form-title">Login</h2>
            <form method="POST" class="register-form" id="login-form">
                {% csrf_token %}

                {% for message in messages %}

                <div class="alert alert-success">
                    <a class="close" href="" data-dismiss="alert">{{ message }}</a>
                    <br>
                </div>
                {% endfor %}
                <div class="form-group">
                    <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                    <input type="text" name="username" id="username" placeholder="username" />
                </div>
                <div class="form-group">
                    <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                    <input type="password" name="pass" id="pass" placeholder="Password" />
                </div>
                <div class="form-group">
                    <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                    <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                </div>
                <div class="form-group form-button">
                    <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock login-content %}