{% extends "feed/base.html" %}

{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            <article class="media content-section">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="#">Hello</a>
                    <small class="text-muted">Hello</small>
                  </div>
                  <h2><a class="article-title" href="#">Hello</a></h2>
                  <p class="article-content">Hello</p>
                </div>
              </article>
        </div>
        <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>

{% endblock content %}