{% extends "feed/base.html" %}

{% block feed-home-page %}

        <div class="row">
            <div class="column" >
                <div class="home_page_partition">Hello </div>
            </div>
            
            <div class="column">
                <div class="home_page_partition">Hello </div>
            </div>
            
            <div class="column" >
                <div class="home_page_partition">Hello </div>
            </div>
        </div>
{% endblock feed-home-page %}
    