{% load static %}
<div class="col-md-2 static">
    <div class="suggestions" id="sticky-sidebar">
      <h4 class="grey">Who to Follow</h4>
      <div class="follow-user">
        <img src="images/users/user-11.jpg" alt="" class="profile-photo-sm pull-left" />
        <div>
          <h5><a href="#">Diana Amber</a></h5>
          <a href="#" class="text-green">Add friend</a>
        </div>
      </div>
      <div class="follow-user">
        <img src="images/users/user-12.jpg" alt="" class="profile-photo-sm pull-left" />
        <div>
          <h5><a href="#">Cris Haris</a></h5>
          <a href="#" class="text-green">Add friend</a>
        </div>
      </div>
      <div class="follow-user">
        <img src="images/users/user-13.jpg" alt="" class="profile-photo-sm pull-left" />
        <div>
          <h5><a href="#">Brian Walton</a></h5>
          <a href="#" class="text-green">Add friend</a>
        </div>
      </div>
      <div class="follow-user">
        <img src="images/users/user-14.jpg" alt="" class="profile-photo-sm pull-left" />
        <div>
          <h5><a href="#">Olivia Steward</a></h5>
          <a href="#" class="text-green">Add friend</a>
        </div>
      </div>
      <div class="follow-user">
        <img src="images/users/user-15.jpg" alt="" class="profile-photo-sm pull-left" />
        <div>
          <h5><a href="#">Sophia Page</a></h5>
          <a href="#" class="text-green">Add friend</a>
        </div>
      </div>
    </div>
  </div>