{% load static %}
<div class="col-md-2 static">
    <div class="suggestions" id="sticky-sidebar">
      <h4 class="grey">Who to Follow</h4>
      <div class="follow-user">
        {% for usertemp in Allusers %}
        {% if user.username != usertemp.username %}
        <img src="{{usertemp.alumni.image.url}}" alt="{{usertemp.first_name}}" class="profile-photo-sm pull-left" />
        <div>
          <h5><a href="#">{{usertemp.username}}</a></h5>
          <a href="#" class="text-green">Add friend</a>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>